.nav {
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	
}

.nav li {
	list-style: none;

}

.nav li a {
	text-decoration: none;
	/*background-color: lightblue;*/
	color: #da0b0b;
	padding: 3px;
	border-radius: 5px;
	

}

.nav li a:hover {
	border: 1px solid rgba(0,0,0,0.2);
	font-weight: bold;
	transition: 0.6s ease;
}

.nav ul {
	display: flex;
	justify-content: space-around;
	font-family: 'Roboto', sans-serif;

}
